@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    color: inherit;
}

.collapse.show {
    visibility: visible;
}

.header-container {
    background: linear-gradient(315deg, #1270E3 0%, #59C2FF 100%);
}

.js-category-toggle-button {
    .inactive {
        display: none;
    }
}

.collapsed {
    .js-category-toggle-button {
        .active {
            display: none;
        }
    }

    .inactive {
        display: flex;
        justify-content: center;
    }
}

.category-container {
    position: relative;

    .category-arrow {
        background-position: 0 0;
        background-repeat: no-repeat;
        width: 114px;
        height: 18px;
        position: absolute;
        top: -17px;
        right: 5.5%;
    }
}

tbody, td, tfoot, th, thead, tr {
    border-color: #d7d7d7;
    border-width: 1px;
    padding: .5em;
}
